

<main class="container-fluid text-justify">
    <h1 class="text-center shadow"><strong>Tax Table</strong></h1>
    <div class="my-4">
        <h3 class="mb-4">Individuals or Hindu undivided family or association of persons or body of individuals [General Rate] </h3>
        <h5 class="mt-4">Income Tax Rates for the Assessment Year 2020 - 2021</h5>
        <table class="table table-dark table-bordered my-4">
            <tbody>
                <tr>
                    <td><b> Sr. No.</b></td>
                    <td><b> Tax Slab</b></td>
                    <td><b> Rate</b></td>
                    <td><b> Tax</b></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">1</span></td>
                    <td><span style="font-weight: 400;">Upto Rs. 250,000</span></td>
                    <td><span style="font-weight: 400;">Nil</span></td>
                    <td><span style="font-weight: 400;">Nil</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">2</span></td>
                    <td><span style="font-weight: 400;">From Rs. 250,001 To Rs. 500,000</span></td>
                    <td><span style="font-weight: 400;">5%</span></td>
                    <td><span style="font-weight: 400;">5 per cent of the amount by which the total income exceeds Rs. 250,000</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">3</span></td>
                    <td><span style="font-weight: 400;">From Rs. 500,001 To Rs. 1,000,000</span></td>
                    <td><span style="font-weight: 400;">20%</span></td>
                    <td><span style="font-weight: 400;">Rs. 12,500 plus 20 per cent of the amount by which the total income exceeds Rs. 500,000</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">4</span></td>
                    <td><span style="font-weight: 400;">From Rs. 1,000,001 and Above</span></td>
                    <td><span style="font-weight: 400;">30%</span></td>
                    <td><span style="font-weight: 400;">Rs. 112,500 plus 30 per cent of the amount by which the total income exceeds Rs. 1,000,000</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"><span style="font-weight: 400;">Rebate - Upto Rs. 	2,500</span></td>
                    <td><span style="font-weight: 400;">If total income is not exceeding Rs. 350,000</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="font-weight: 400;">Surcharge</span></td>
                    <td><span style="font-weight: 400;">10%</span></td>
                    <td><span style="font-weight: 400;">If total income is exceeding Rs. 5,000,000 - with marginal relief</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="font-weight: 400;">Surcharge</span></td>
                    <td><span style="font-weight: 400;">15%</span></td>
                    <td><span style="font-weight: 400;">If total income is exceeding Rs. 10,000,000 - with marginal relief</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="font-weight: 400;">Education Cess</span></td>
                    <td><span style="font-weight: 400;">4%</span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-1" />
    <hr class="my-1" />
    <div class="my-4">
        <h3 class="mb-4">Senior Citizens (Resident in India) who is of the age of 60 years or more during the previous / financial year </h3>
        <h5 class="mt-4">Income Tax Rates for the Assessment Year 2020 - 2021</h5>
        <table class="table table-dark table-bordered my-4">
            <tbody>
                <tr>
                    <td><b> Sr. No.</b></td>
                    <td><b> Tax Slab</b></td>
                    <td><b> Rate</b></td>
                    <td><b> Tax</b></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">1</span></td>
                    <td><span style="font-weight: 400;">Upto Rs. 300,000</span></td>
                    <td><span style="font-weight: 400;">Nil</span></td>
                    <td><span style="font-weight: 400;">Nil</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">2</span></td>
                    <td><span style="font-weight: 400;">From Rs. 300,001 To Rs. 500,000</span></td>
                    <td><span style="font-weight: 400;">5%</span></td>
                    <td><span style="font-weight: 400;">5 per cent of the amount by which the total income exceeds Rs. 300,000</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">3</span></td>
                    <td><span style="font-weight: 400;">From Rs. 500,001 To Rs. 1,000,000</span></td>
                    <td><span style="font-weight: 400;">20%</span></td>
                    <td><span style="font-weight: 400;">Rs. 10,000 plus 20 per cent of the amount by which the total income exceeds Rs. 500,000</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">4</span></td>
                    <td><span style="font-weight: 400;">From Rs. 1,000,001 and Above</span></td>
                    <td><span style="font-weight: 400;">30%</span></td>
                    <td><span style="font-weight: 400;">Rs. 110,000 plus 30 per cent of the amount by which the total income exceeds Rs. 1,000,000</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"><span style="font-weight: 400;">Rebate - Upto Rs. 	2,500</span></td>
                    <td><span style="font-weight: 400;">If total income is not exceeding Rs. 350,000</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="font-weight: 400;">Surcharge</span></td>
                    <td><span style="font-weight: 400;">10%</span></td>
                    <td><span style="font-weight: 400;">If total income is exceeding Rs. 5,000,000 - with marginal relief</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="font-weight: 400;">Surcharge</span></td>
                    <td><span style="font-weight: 400;">15%</span></td>
                    <td><span style="font-weight: 400;">If total income is exceeding Rs. 10,000,000 - with marginal relief</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="font-weight: 400;">Education Cess</span></td>
                    <td><span style="font-weight: 400;">4%</span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-1 " />
    <hr class="my-1" />
    <div class="my-4">
        <h3 class="mb-4">Super Senior Citizens (Resident in India) who is of the age of 80 years or more during the previous / financial year </h3>
        <h5 class="mt-4">Income Tax Rates for the Assessment Year 2020 - 2021</h5>
        <table class="table table-dark table-bordered my-4">
            <tbody>
                <tr>
                    <td><b> Sr. No.</b></td>
                    <td><b> Tax Slab</b></td>
                    <td><b> Rate</b></td>
                    <td><b> Tax</b></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">1</span></td>
                    <td><span style="font-weight: 400;">Upto Rs. 500,000</span></td>
                    <td><span style="font-weight: 400;">Nil</span></td>
                    <td><span style="font-weight: 400;">Nil</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">2</span></td>
                    <td><span style="font-weight: 400;">From Rs. 500,001 To Rs. 1,000,000</span></td>
                    <td><span style="font-weight: 400;">20%</span></td>
                    <td><span style="font-weight: 400;">20 per cent of the amount by which the total income exceeds Rs. 500,000</span></td>
                </tr>
                <tr>
                    <td><span style="font-weight: 400;">3</span></td>
                    <td><span style="font-weight: 400;">From Rs. 1,000,001 and Above</span></td>
                    <td><span style="font-weight: 400;">30%</span></td>
                    <td><span style="font-weight: 400;">Rs. 100,000 plus 30 per cent of the amount by which the total income exceeds Rs. 1,000,000</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"><span style="font-weight: 400;">Rebate - Upto Rs. 	2,500</span></td>
                    <td><span style="font-weight: 400;">If total income is not exceeding Rs. 350,000</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="font-weight: 400;">Surcharge</span></td>
                    <td><span style="font-weight: 400;">10%</span></td>
                    <td><span style="font-weight: 400;">If total income is exceeding Rs. 5,000,000 - with marginal relief</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="font-weight: 400;">Surcharge</span></td>
                    <td><span style="font-weight: 400;">15%</span></td>
                    <td><span style="font-weight: 400;">If total income is exceeding Rs. 10,000,000 - with marginal relief</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="font-weight: 400;">Education Cess</span></td>
                    <td><span style="font-weight: 400;">4%</span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
</main>

