<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cd2e1b7b-b1b9-49c6-9c21-fd6a22042391/resourcegroups/OnlineTaxbazar/providers/Microsoft.Web/sites/OnlineTaxbazar</ResourceId>
    <ResourceGroup>OnlineTaxbazar</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://onlinetaxbazar.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>onlinetaxbazar.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OnlineTaxbazar</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OnlineTaxbazar</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TaxSystemEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:onlinetaxbazardbserver.database.windows.net,1433;Initial Catalog=OnlineTaxbazar_db;Persist Security Info=True;User ID=vipulvyas@onlinetaxbazardbserver;Password=17ceubg009@ddu.ac.in" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="onlinetaxmanagement.Models.TaxSystemEntities1, onlinetaxmanagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TaxSystemEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Tax.csdl|res://*/Models.Tax.ssdl|res://*/Models.Tax.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:onlinetaxbazardbserver.database.windows.net,1433;Initial Catalog=OnlineTaxbazar_db;Persist Security Info=True;User ID=vipulvyas@onlinetaxbazardbserver;Password=17ceubg009@ddu.ac.in"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>